# ⚙️ Node.js
node_modules/
.env
dist/
*.log
*.tsbuildinfo

# ⚡ Electron / build
*.exe
*.dmg
*.app
out/
build/
release/

# 📦 Vercel / Netlify / deploy temporales
.vercel/
.netlify/

# 💻 Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# 🚫 Archivos temporales
*.tmp
*.swp
*.swo
*.bak

# 🧪 IDEs / editores
.vscode/
.idea/

# ⚗️ Configs locales
npm-debug.log
yarn-debug.log
yarn-error.log